.container{
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: rgb(225, 222, 222);
    height: 90px;
}

.menu{
    display: flex;
    margin-right: 15px;
    padding: 0;
  }
.menu-item {
    padding: 8px 12px;
    margin:0 5px ;
    line-height: 40px;
    text-transform: uppercase;
    /*width: max-content;*/
    cursor: pointer;
}    

.nav-link:hover{
    background-color: #cd9ef7;
    transition: 0.5s;
}
.nombre-curso {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    line-height: 40px;
    color:rgb(105, 38, 111) ;
    text-shadow: 2px 2px black;
  }

@media (max-width:575px){
.container{
    flex-direction: column;
    height: 390px;
}
.menu{
    display: flex;
    flex-direction:column;
    align-items: center;
    margin-bottom: 10px;
}
    
.nav-link:hover{
    background:none;
    color: #83c5f7;
}
}

  
