img{
    max-width: 100%;
}
.header{
    background-color: rgb(225, 222, 222);
    height: 70px;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}
.nav{
    display: flex;
    justify-content:space-between;
    max-width: 1340px;    
}

.nav-menu{
    display: flex;
    margin-right: 16px;
    padding: 0;
    list-style: none;
}
.nav-menu-item {
    font-size:20px;
    padding: 8px 12px;
    margin:0 5px ;
    line-height: 40px;
    text-transform: uppercase;
    width: max-content;
    cursor: pointer;
}    
#login{
    font-weight: bold;
    background-color:rgb(214, 199, 246);
    width: 150px;
    height: 45px;
    text-align:center;
    margin-left: 15px;
    margin-top: 10px;
    border-style:solid;
    border-radius: 5px;
}
.nav-link:hover{
    background-color: #034574;
    transition: 0.5s;
}
.nav-toggle{
    color: white;
    background: none;
    border: none;
    font-size: 20px;
    padding: 0 20px;
    line-height: 60px;
    cursor: pointer;
    display:none;
}
.nombre-curso {
    font-size: 20px;
    font-weight: bold;
    padding: 20px 0;
    line-height: 40px;
  }
  
#login:hover{
    background-color: #034574;
    transition: 0.5s;
}

.logo{
    display:flex;
    align-items: center;
    margin-left: 31px;
    margin-bottom: 13px;
    margin-top: -5px;
    line-height: 40px;
  }

  .logo img{
      border-radius: 5%;
  }

  @media (max-width:768px){
    body{
        padding-top: 70px;
    }
    .header{
        height: 70px;
    }
    .logo{
        font-size: 15px;
        padding: 0 20px;
        line-height: 60px;
    }
    .nav-menu{
        flex-direction:column;
        align-items: center;
        margin-right: 20px;
        background-color:rgb(214, 199, 246) ;
        position: fixed;
        left: 0;
        top: 60px;
        width: 100%;
        padding: 20px 0;
        height:calc (100%-60px);
        overflow-y: auto;
        left:100%;
        transition: 0.3s;
    }
    
    .nav-menu-item {
        line-height: 70px;
    }
    .nav-link:hover{
        background:none;
        color: #83c5f7;
    }
    .nav-toggle{
        display: block;
        border: none;
        background: none;
        cursor: pointer;
    }
    .nav-menu_visible{
        left: 0;
    }
} 
